<div class="navbar-container">
  <img src="./../../assets/JustWatch-logo-large.webp" alt="Logo" height="20">
  <a class="navbar-item" href="">Home</a>
  <a class="navbar-item" href="">New</a>
  <a class="navbar-item" href="">Popular</a>
  <a class="navbar-item" href="">Lists</a>
  <a class="navbar-item" href="">Sports</a>
  <a class="navbar-item" href="">Guide</a>
  <input type="text" placeholder="Search for movies or TV Shows">
  <button> Sign In</button>
  <a href="">
    <img src="./../../assets/sidebarMenuIcon.png" alt="" width="18" height="18">
  </a>
</div>
